<div class="flex items-baseline">
  <span class="text-green-500" *ngIf="loading">
    Loading
    <i class="bx bx-refresh bx-spin mx-4"></i>
  </span>

  <span class="text-green-500" *ngIf="tracking">
    Tracking
    <i class="bx bxs-circle bx-burst mx-4"></i>
  </span>
  <span class="text-red-500" *ngIf="!tracking">
    Stopped
    <i class="bx bxs-circle mx-4"></i>
  </span>

  <button
    class="bg-blue-600 hover:bg-blue-700 text-blue-50 cursor-pointer px-6 py-2 rounded"
    (click)="toggleTracking()"
  >
    <span *ngIf="tracking">Stop</span>
    <span *ngIf="!tracking">Start</span>
    Tracking
  </button>
</div>
